@model IEnumerable<CorporateBankingApplication.DTOs.PaymentDTO>

@{
    ViewBag.Title = "Verify Payment Approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="text-center my-4 pt-3">Payment Approval Requests</h2>
    <!-- Add search input field for company name -->
    <div class="form-group mb-5">
        <input type="text" id="searchClient" class="form-control" placeholder="Search by Client's Name..." />
    </div>

    <table id="paymentApprovalsTable" class="table text-center">
        <thead class="thead-dark my-3">
            <tr>
                <th>
                    <!-- Select All Checkbox -->
                    <input type="checkbox" id="selectAll" />
                    Select All
                </th>
                <th>Client's Name</th>
                <th>Beneficiary Name</th>
                <th>Account Number</th>
                <th>Beneficiary Type</th>
                <th>Amount</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody id="paymentApprovalBody">
            @if (Model != null && Model.Any())
            {
                foreach (var payment in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="payment-checkbox" value="@payment.PaymentId" />
                        </td>
                        <td>@payment.Username</td>
                        <td>@payment.CompanyName</td>
                        <td>@payment.AccountNumber</td>
                        <td>@payment.BeneficiaryType</td>
                        <td>@payment.Amount.ToString("F2")</td>
                        <td>@payment.PaymentRequestDate.ToShortDateString()</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">No pending payment approvals available.</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model != null && Model.Any())
    {
        <button id="approveSelectedPayments" class="btn btn-outline-dark">Approve Selected</button>
        <button id="rejectSelectedPayments" class="btn btn-outline-dark">Reject Selected</button>
    }

    <br />
    @Html.ActionLink("Go Back To Dashboard", "AdminDashboard", null, new { @class = "btn btn-lg btn-primary mt-5" })

    <!-- Pagination Controls -->
    <div id="paginationControls" class="d-flex justify-content-between mt-4">
        <button id="prevPage" class="btn btn-outline-dark" disabled>Previous</button>
        <span id="pageInfo">Page 1</span>
        <button id="nextPage" class="btn btn-outline-dark">Next</button>
    </div>
</div>

<!-- Rejection Reason Modal -->
<div class="modal fade" id="rejectionReasonModal" tabindex="-1" role="dialog" aria-labelledby="rejectionReasonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary" style="display: flex; justify-content: space-between; align-items: center;">
                <h5 class="modal-title" id="rejectionReasonModalLabel">Rejection Reason</h5>
                <button type="button" class="closeRejectionPopup border-0 bg-transparent text-light btn-lg" data-dismiss="modal" aria-label="Close" style="font-size: 2rem; line-height: 1;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="rejectionReason" class="form-control" rows="4" placeholder="Please provide the reason for rejection"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeRejectionPopup" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="submitRejectionReason">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" style="display:none;" id="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<style>
    .loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* High z-index to make sure it stays on top */
    }

    /* Optional to remove page scrolling */
    body.loader-active {
        overflow: hidden;
    }
</style>

@section Scripts {
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script>
        var currentPage = 1; // Start on the first page
        var rowsPerPage = 5; // Set number of rows per page
        var totalRows = @Model.Count(); // Total number of rows in the table
        var totalPages = Math.ceil(totalRows / rowsPerPage); // Total number of pages

        // Function to update the table for the current page
        function updateTable() {
            var startRow = (currentPage - 1) * rowsPerPage;
            var endRow = startRow + rowsPerPage;

            $('#paymentApprovalBody tr').hide(); // Hide all rows
            $('#paymentApprovalBody tr').slice(startRow, endRow).show(); // Show only the rows for the current page

            // Update the pagination buttons
            $('#pageInfo').text("Page " + currentPage + " of " + totalPages);
            $('#prevPage').prop('disabled', currentPage === 1);
            $('#nextPage').prop('disabled', currentPage === totalPages);
        }

        // Call the function to initially set the table
        updateTable();

        // Pagination button event handlers
        $('#prevPage').click(function () {
            if (currentPage > 1) {
                currentPage--;
                updateTable();
            }
        });

        $('#nextPage').click(function () {
            if (currentPage < totalPages) {
                currentPage++;
                updateTable();
            }
        });

        // Get selected checkboxes
        function getSelectedPayments() {
            var selectedIds = [];
            $(".payment-checkbox:checked").each(function () {
                selectedIds.push($(this).val());
            });
            return selectedIds;
        }

        // Select/ deselect all checkboxes when "Select All" is clicked
        $('#selectAll').change(function () {
            $('.payment-checkbox').prop('checked', this.checked);
        });

        // If an individual checkbox is unchecked, uncheck "Select All"
        $('.payment-checkbox').change(function () {
            if (!this.checked) {
                $('#selectAll').prop('checked', false);
            }
            // If all individual checkboxes are checked, check "Select All"
            if ($('.payment-checkbox:checked').length === $('.payment-checkbox').length) {
                $('#selectAll').prop('checked', true);
            }
        })

        function showLoader() {
            $("#loader").show();
        }
        function hideLoader() {
            setTimeout(function () {
                $("#loader").hide();
            }, 5000);
        }
        // Approve selected payments
        $('#approveSelectedPayments').click(function () {
            showLoader();
            var selectedIds = getSelectedPayments();
            if (selectedIds.length === 0) {
                alert("Please select at least one payment approval request.");
                hideLoader();
                return;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ApprovePayments", "Admin")',
                data: { disbursementIds: selectedIds },
                traditional: true,
                success: function (response) {
                    hideLoader();
                    if (response.success) {
                        alert(response.message);
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    hideLoader();
                    alert("An error occurred while approving the payments: " + error);
                }
            });
        });

        // Reject selected payments
        $('#rejectSelectedPayments').click(function () {
            var selectedIds = getSelectedPayments();
            if (selectedIds.length === 0) {
                alert("Please select at least one payment approval request.");
                return;
            }
            // Showing the rejection reason modal
            $('#rejectionReasonModal').modal('show');

            $('#submitRejectionReason').click(function () {
                var rejectionReason = $('#rejectionReason').val();

                if (!rejectionReason) {
                    alert("Please provide a reason for rejection.");
                    return;
                }
                showLoader();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RejectPayments", "Admin")',
                    data: {
                        disbursementIds: selectedIds,
                        reason: rejectionReason
                    },
                    traditional: true,
                    success: function (response) {
                        hideLoader();
                        if (response.success) {
                            alert(response.message);
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        hideLoader();
                        alert("An error occurred while rejecting the payments: " + error);
                    }
                });

                // Close the modal after submission
                $('#rejectionReasonModal').modal('hide');
            });
        });

        // Close modal event handlers
        $('.closeRejectionPopup').click(function () {
            $('#rejectionReasonModal').modal('hide');
            $('#rejectionReason').val(''); // Clear the textarea
        });
    </script>
}
