@model IEnumerable<CorporateBankingApplication.DTOs.PaymentDTO>

@{
    ViewBag.Title = "ViewPayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center my-4 pt-3">View Payments</h2>

<!-- Filter Section -->
<form method="get" action="@Url.Action("ViewPayments")">
    <div class="form-row d-flex justify-content-around">
        <div class="form-group col-md-4">
            <label for="companyName">Enter Client Name</label>
            <input type="text" class="form-control border " id="companyName" name="companyName" placeholder="Filter by Client Name" value="@ViewBag.FilterCompanyName">
        </div>
        <div class="form-group col-md-4">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control border " id="startDate" name="startDate" value="@ViewBag.FilterStartDate">
        </div>
        <div class="form-group col-md-4">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control border " id="endDate" name="endDate" value="@ViewBag.FilterEndDate">
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark my-3">Apply Filters</button>
</form>

<table class="table">
    @if (Model != null && Model.Any())
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentRequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentRequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
            </tr>
        }
    }
    else
    {
        <p class="text-center my-4 pt-3">No payments to show.</p>
    }
</table>

@if (Model != null && Model.Any())
{
    <div>
        @Html.ActionLink("Download PDF of Report", "DownloadPaymentPDFReport", "Admin",new{companyName = ViewBag.FilterCompanyName,
                       startDate = ViewBag.FilterStartDate,endDate = ViewBag.FilterEndDate},new { @class = "btn btn-outline-dark mt-5" })
    </div>
    <div>
        @Html.ActionLink("Download Excel of Report", "DownloadPaymentExcelReport", "Admin",new{companyName = ViewBag.FilterCompanyName,
                       startDate = ViewBag.FilterStartDate,endDate = ViewBag.FilterEndDate},new { @class = "btn btn-outline-dark mt-5" })
    </div>
}
@Html.ActionLink("Go Back To Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-lg btn-primary mt-5" })


