@model IEnumerable<CorporateBankingApplication.DTOs.PaymentDTO>
@using CorporateBankingApplication.Enum

@{
    ViewBag.Title = "ViewPayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clientOnboardingStatus = ViewBag.Client?.OnBoardingStatus;
}
@if (clientOnboardingStatus == CorporateStatus.APPROVED)
{
    <h2 class="text-center my-4 pt-3">View Payments</h2>


    <table class="table">
        @if (Model != null && Model.Any())
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeneficiaryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentRequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentStatus)
                </th>
            </tr>

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiaryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentRequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                    </td>
                </tr>
            }
        }
        else
        {
            <p class="text-center my-4 pt-3">No payments to show.</p>
        }
    </table>
    if (Model != null && Model.Any())
    {
        <div>
            @Html.ActionLink("Download PDF of Report", "DownloadPaymentPDFReport", "Report", null, new { @class = "btn btn-outline-dark mt-5" })
        </div>
    }
}
else
{
    <div class="container my-5 pt-lg-5">
        <div class="alert alert-warning text-center my-5">
            The client's onboarding process is not yet completed. Please wait for approval to access the our services.
        </div>
    </div>

}
@if (User.IsInRole("Client"))
{
    @Html.ActionLink("Go Back To Dashboard", "ClientDashboard", "Client", null, new { @class = "btn btn-lg btn-primary mt-5" })
}
else
{
    @Html.ActionLink("Go Back To Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-lg btn-primary mt-5" })

}
